main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

.container {
  padding: 20px;
  background-color: antiquewhite;
}

.draggable {
  padding: 10px 40px;
  background-color: brown;
  margin: 10px;
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}
